// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.countdown {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

    .day,
    .hour,
    .min,
    .sec {
        font-size: 30px;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        margin: 0 5px;

        .format {
            font-weight: 300;
            font-size: 14px;
            //@include margin-start(5);
            //display: inline-block;
            opacity: 0.8;
            width: 60px;
        }
    }

    .number {
        background: rgba(51, 51, 51, 0.53);
        padding: 0 5px;
        border-radius: 5px;
        display: inline-block;
        width: 60px;
        text-align: center;
    }
}

