<template>
    <div class="card">
        <div class="card-header">Registration Expired On</div>
        <div class="card-body">
            <div id="countdown" class="countdown">
                <div v-show="statusType !== 'expired'">
                    <div class="day">
                        <span class="number">{{ days }}</span>
                        <div class="format">{{ text.day }}</div>
                    </div>
                    <div class="hour">
                        <span class="number">{{ hours }}</span>
                        <div class="format">{{ text.hours }}</div>
                    </div>
                    <div class="min">
                        <span class="number">{{ minutes }}</span>
                        <div class="format">{{ text.minutes }}</div>
                    </div>
                    <div class="sec">
                        <span class="number">{{ seconds }}</span>
                        <div class="format">{{ text.seconds }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['starttime','endtime'],
        data() {
            return {
                timer: "",
                text: {
                    "day":"Day",
                    "hours":"Hours",
                    "minutes":"Minutes",
                    "seconds":"Seconds",
                    "status": {
                        "expired":"expired",
                        "running":"running",
                        "upcoming":"upcoming"
                    }
                },
                start: "",
                end: "",
                interval: "",
                days: "",
                minutes: "",
                hours: "",
                seconds: "",
                statusType: "",
            };
        },
        mounted() {
            this.start = new Date(this.starttime).getTime();
            this.end = new Date(this.endtime).getTime();
            // Update the count down every 1 second
            this.timerCount(this.start,this.end);
            this.interval = setInterval(() => {
                this.timerCount(this.start,this.end);
            }, 1000);
        },
        methods: {
            timerCount: function(start,end) {
                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = start - now;
                var passTime =  end - now;

                if (distance < 0 && passTime < 0) {
                    this.statusType = this.text.status.expired;
                    clearInterval(this.interval);
                    return;
                } else if (distance < 0 && passTime > 0) {
                    this.calcTime(passTime);
                    this.statusType = this.text.status.running;
                } else if( distance > 0 && passTime > 0 ) {
                    this.calcTime(distance);
                    this.statusType = this.text.status.upcoming;
                }
            },
            calcTime: function(dist) {
                // Time calculations for days, hours, minutes and seconds
                this.days = Math.floor(dist / (1000 * 60 * 60 * 24));
                this.hours = Math.floor((dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                this.minutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60));
                this.seconds = Math.floor((dist % (1000 * 60)) / 1000);
            },
        }
    }
</script>
